.form-div { margin-top: 100px; border: 1px solid #e0e0e0; }
#profileDisplay { display: block; height: 25rem; width: 100%; margin: 0px auto;  }
.img-placeholder {
  width: 100%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 25rem;
   z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}